@model WebbApplikation.Models.BusinessViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/_MasterPage.cshtml";
}

<h2>WEBBUTIKEN</h2>
<br />
<div>
<h1>Välkommen!</h1>
<br/><br/>

<p>Tabell över burikens varor:</p>
</div>

<table class="table table-dark">

	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Namn</th>
			<th scope="col">Pris</th>
			<th scope="col">Antal</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.VaraList)
		{

			<tr>
				<td>@item.ID</td>
				<td>@item.Namn</td>
				<td>@item.Pris</td>
				<td>@item.ButikAntal</td>
				<td><a href="www.exempel.com">Beställ</a></td>

			</tr>

		}
		
		
	</tbody>
</table>

