@model WebbApplikation.Models.Vara

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/_MasterPage.cshtml";
}
@Model.Namn

<h2>Order</h2>

@using (Html.BeginForm("OrderMade", "Business", FormMethod.Post))
{
    <p>ID</p>
    <input type="number" value="@Model.ID" name="ID" readonly />
    <p>Antal</p>
    <input type="number" name="antal" max="50"/>

    <button type="submit">Submit</button>
}



